@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg"); }
@font-face {
  font-family: gothamBold;
  src: url("../fonts/Gotham-Bold.ttf"); }
@font-face {
  font-family: gothamBook;
  src: url("../fonts/Gotham-Book.ttf"); }
@font-face {
  font-family: gothamLight;
  src: url("../fonts/Gotham-Light.ttf"); }
@font-face {
  font-family: gothamMed;
  src: url("../fonts/Gotham-Medium.ttf"); }
.desktop {
  display: block; }
  @media screen and (max-width: 767px) {
    .desktop {
      display: none; } }

.mobile {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile {
      display: block; } }

body {
  font-family: gothamBook;
  font-size: 16px;
  color: #000; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    color: #fff; }

.web-content {
  padding-top: 160px; }
  .web-content h2 {
    text-align: center;
    display: block;
    float: none; }

.bg-header {
  margin-top: 80px; }
  .bg-header form.search {
    margin: 0;
    transform: translateY(-50%); }
  .bg-header form.search-cont {
    transform: translateY(-50%); }

.job-description p {
  margin: 40px 0;
  text-align: center;
  letter-spacing: -1.2px;
  color: #020202; }

.job-category {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.51px;
  text-align: center;
  margin: 86px 0 0 0; }
  .job-category span {
    color: #0F3D6A; }

.lists-job-category {
  padding-top: 50px; }
  .lists-job-category .list {
    border-bottom: 0.5px solid #103560;
    box-sizing: border-box;
    padding-bottom: 72px;
    margin-bottom: 67px; }
    .lists-job-category .list:last-child {
      margin-bottom: 400px; }
  .lists-job-category .title {
    font-size: 20px;
    font-family: gothamMed;
    color: #002C5D;
    line-height: 22px;
    letter-spacing: -0.8px; }
  .lists-job-category .hd_lists_wrapper {
    display: inline-block;
    width: 278px;
    text-align: center;
    margin: 100px 0;
    box-sizing: border-box;
    position: relative; }
    .lists-job-category .hd_lists_wrapper .title {
      margin: 30px 0; }
    .lists-job-category .hd_lists_wrapper .mandiri-btn {
      padding: 6px 44px; }

.btn.mandiri-btn {
  letter-spacing: -0.64px;
  line-height: 22px;
  padding: 6px 30px;
  background-color: #002C5D;
  font-size: 18px;
  color: #fff;
  font-family: gothamBook; }
.btn.large {
  padding: 17px 30px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.profile-section {
  transform: translateY(-30%); }
  .profile-section .profile-wrapper {
    width: 1221px;
    margin: 0 auto; }
    .profile-section .profile-wrapper .profile-desc {
      background-color: #F8C44E;
      width: 932px;
      padding: 63px 0 63px 51.5px;
      position: relative; }
      .profile-section .profile-wrapper .profile-desc .content {
        width: 455px;
        max-width: 455px; }
        .profile-section .profile-wrapper .profile-desc .content .title {
          font-family: gothamMed;
          font-size: 26px;
          letter-spacing: -1.04px;
          line-height: 32px;
          color: #fff;
          margin-bottom: 20px; }
        .profile-section .profile-wrapper .profile-desc .content p {
          text-align: justify;
          line-height: 32px;
          letter-spacing: -0.72px;
          font-size: 18px;
          color: #272727; }
    .profile-section .profile-wrapper .video-wrapper {
      position: relative;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%); }
      .profile-section .profile-wrapper .video-wrapper .play-btn {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto; }
      .profile-section .profile-wrapper .video-wrapper .video-profile-cont {
        position: relative; }

.sliders-section .slider-info {
  padding: 70px 102px 0 62px;
  background-color: #043463; }
  .sliders-section .slider-info h3 {
    line-height: 37px;
    letter-spacing: -0.86px;
    font-size: 24px;
    margin-bottom: 24px;
    position: relative;
    font-family: gothamMed;
    color: #fff; }
    .sliders-section .slider-info h3::after {
      content: '';
      position: absolute;
      width: 89px;
      height: 7px;
      left: 0;
      bottom: -24px;
      background-color: #FDBB21; }
  .sliders-section .slider-info .block-icon {
    margin: 57px 0 40px 0; }
  .sliders-section .slider-info p {
    text-align: justify;
    line-height: 30px;
    letter-spacing: -0.72px;
    color: #FFFFFF; }

.slick-prev-arrow {
  width: 37px;
  height: 20px;
  background: url(../images/it/arrow-up.png);
  position: absolute;
  bottom: 20vh;
  left: 28vw;
  z-index: 9; }
  .slick-prev-arrow:hover {
    cursor: pointer; }

.slick-next-arrow {
  width: 37px;
  height: 20px;
  background: url(../images/it/arrow-down.png);
  position: absolute;
  bottom: 15vh;
  left: 28vw;
  z-index: 9; }
  .slick-next-arrow:hover {
    cursor: pointer; }

.slick-dots {
  bottom: 12vw;
  left: 28.35vw;
  display: inline-flex;
  flex-direction: column;
  width: initial; }
  .slick-dots li, .slick-dots li button {
    width: 15px;
    height: 15px; }
  .slick-dots li button:before {
    line-height: 15px;
    width: 15px;
    height: 15px; }

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: #fff; }

.jobs-section {
  text-align: center;
  margin-top: -52px; }
  .jobs-section h3 {
    font-size: 24px;
    letter-spacing: -0.86px;
    line-height: 37px;
    font-family: gothamMed;
    color: #043463;
    text-align: center;
    position: relative;
    margin-bottom: 54px; }
    .jobs-section h3::after {
      content: '';
      position: absolute;
      width: 89px;
      height: 7px;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -24px;
      background-color: #FDBB21; }
  .jobs-section .job-quote {
    color: #363636;
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: 32px;
    text-align: center;
    max-width: 1036px;
    margin: 0 auto; }

form.search-cont {
  margin: 0 20%; }
  form.search-cont input {
    line-height: 2;
    font-size: 1.5vw; }
  form.search-cont .mandiri-btn-new {
    background-color: #002C5D;
    border-color: #002C5D;
    padding: 6px 40px; }

.job-card {
  padding-bottom: 80px; }

.job-card-wrapper {
  margin-bottom: 50px;
  display: inline-block; }
  .job-card-wrapper .job-img-wrapper {
    position: relative; }
    .job-card-wrapper .job-img-wrapper::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: -20px;
      z-index: -1;
      width: 96.16px;
      height: 314.85px;
      background-color: #F8C44E; }
    .job-card-wrapper .job-img-wrapper .back-layer {
      position: absolute;
      left: -40px;
      bottom: -25px;
      z-index: -2; }
  .job-card-wrapper .job-content {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    padding: 43px 60px 33px 50px;
    width: 564.95px;
    transform: translateX(-25%);
    background: #ffff;
    text-align: left;
    position: relative;
    box-shadow: -15px 15px #F2F2F2; }
    .job-card-wrapper .job-content h3 {
      line-height: 24px;
      font-size: 20px;
      line-height: 24px;
      color: #002C5D;
      font-family: gothamMed;
      text-align: left;
      margin-bottom: 45px; }
      .job-card-wrapper .job-content h3 span {
        font-family: gothamBold; }
      .job-card-wrapper .job-content h3::after {
        left: 0;
        margin: 0; }
    .job-card-wrapper .job-content .mandiri-btn {
      padding: 15px 58px; }

.job-head .job-head-title {
  line-height: 70px;
  letter-spacing: -0.66px;
  font-size: 22px;
  color: #002B61;
  font-family: gothamMed; }

.job-lists .list .title {
  line-height: 90px;
  letter-spacing: -0.72px;
  font-size: 18px;
  color: #3A3A3A; }

.separator {
  width: 1px;
  height: 287.77px;
  background-color: #103560;
  opacity: 0.5;
  margin: 0 56.5px; }

@media screen and (max-width: 767px) {
  #mdr-eh .job-description h2 {
    font-size: 4vw; }
  #mdr-eh .job-description p {
    font-size: 2.5vw;
    letter-spacing: 0;
    margin: 3vw auto 12vw; }
  #mdr-eh .job-description .job-category {
    margin: 4vw auto;
    font-size: 2vw; }
  #mdr-eh .lists-job-category {
    padding-top: 0;
    margin-bottom: 10vw; }
    #mdr-eh .lists-job-category .content {
      padding: 5vw 0;
      border-bottom: 1px solid;
      justify-content: center; }
      #mdr-eh .lists-job-category .content:last-child {
        border: 0; }
      #mdr-eh .lists-job-category .content .image {
        flex-basis: 40%;
        text-align: center;
        height: 20vw; }
        #mdr-eh .lists-job-category .content .image img {
          height: 100%; }
      #mdr-eh .lists-job-category .content .sub-wrapper {
        flex-basis: 50%; }
        #mdr-eh .lists-job-category .content .sub-wrapper .title {
          font-size: 3vw; }
        #mdr-eh .lists-job-category .content .sub-wrapper a {
          font-size: 2vw;
          line-height: initial;
          letter-spacing: initial;
          padding: 1vw 3vw; }

  #mdr-it-dev .bg-header {
    margin-bottom: 10vw; }
  #mdr-it-dev form.search input {
    width: 100% !important;
    margin: 0;
    padding: 0; }
  #mdr-it-dev .search-cont {
    margin: 0 10%; }
    #mdr-it-dev .search-cont input {
      font-size: 3vw; }
    #mdr-it-dev .search-cont .mandiri-btn-new {
      font-size: 2vw;
      padding: 0 3vw; }
  #mdr-it-dev .job-head .job-head-title {
    font-size: 3vw;
    line-height: initial; }
  #mdr-it-dev .job-lists .row {
    align-items: center; }
  #mdr-it-dev .job-lists .list {
    margin-top: 3vw;
    margin-bottom: 3vw; }
  #mdr-it-dev .job-lists .title {
    font-size: 3vw;
    line-height: initial; }
  #mdr-it-dev .job-lists .mandiri-btn {
    font-size: 3vw;
    padding: 1vw 4vw;
    width: 100%; }

  #mdr-it-odp .profile-section, #mdr-it .profile-section {
    position: relative;
    z-index: 8;
    transform: initial;
    width: 80%;
    margin: -12vw auto 0; }
    #mdr-it-odp .profile-section .desc, #mdr-it .profile-section .desc {
      background-color: #F8C44E;
      padding: 5vw;
      text-align: center; }
      #mdr-it-odp .profile-section .desc h3, #mdr-it .profile-section .desc h3 {
        color: #fff;
        font-size: 3vw; }
      #mdr-it-odp .profile-section .desc p, #mdr-it .profile-section .desc p {
        font-size: 2vw; }
    #mdr-it-odp .profile-section .vid-cont, #mdr-it .profile-section .vid-cont {
      width: 80%;
      margin: auto;
      position: relative;
      text-align: center;
      margin-top: -7vw; }
      #mdr-it-odp .profile-section .vid-cont .play-btn, #mdr-it .profile-section .vid-cont .play-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 10vw;
        left: 0;
        right: 0;
        margin: auto; }
  #mdr-it-odp .sliders-section, #mdr-it .sliders-section {
    margin: 8vw auto; }
    #mdr-it-odp .sliders-section .content, #mdr-it .sliders-section .content {
      display: flex;
      align-items: flex-start;
      background-color: #043463;
      padding: 5vw; }
      #mdr-it-odp .sliders-section .content h3, #mdr-it .sliders-section .content h3 {
        text-align: left;
        margin: 0; }
        #mdr-it-odp .sliders-section .content h3:after, #mdr-it .sliders-section .content h3:after {
          content: "";
          width: 9vw;
          height: 1vw;
          margin-top: 1vw;
          background: #FDBB21;
          display: block; }
      #mdr-it-odp .sliders-section .content .block-icon, #mdr-it .sliders-section .content .block-icon {
        margin: 0 3vw;
        text-align: center; }
        #mdr-it-odp .sliders-section .content .block-icon img, #mdr-it .sliders-section .content .block-icon img {
          width: 100%;
          margin: auto; }
      #mdr-it-odp .sliders-section .content .text, #mdr-it .sliders-section .content .text {
        text-align: left;
        padding-right: 11vw; }
        #mdr-it-odp .sliders-section .content .text h4, #mdr-it .sliders-section .content .text h4 {
          color: #FDBB21;
          text-transform: uppercase; }
      #mdr-it-odp .sliders-section .content *, #mdr-it .sliders-section .content * {
        color: #fff;
        font-size: 2vw; }
  #mdr-it-odp .jobs-section h3, #mdr-it .jobs-section h3 {
    font-size: 3vw;
    margin-bottom: 3vw; }
    #mdr-it-odp .jobs-section h3:after, #mdr-it .jobs-section h3:after {
      width: 11vw;
      height: 1vw;
      bottom: 0vw; }
  #mdr-it-odp .jobs-section .job-quote, #mdr-it .jobs-section .job-quote {
    font-size: 3vw;
    line-height: 1; }
  #mdr-it-odp .jobs-section .mandiri-btn, #mdr-it .jobs-section .mandiri-btn {
    font-size: 3vw;
    padding: 1vw 5vw; }
  #mdr-it-odp .slick-slide, #mdr-it .slick-slide {
    padding: 0; }
  #mdr-it-odp .slick-prev-arrow, #mdr-it-odp .slick-next-arrow, #mdr-it .slick-prev-arrow, #mdr-it .slick-next-arrow {
    left: initial;
    right: 4vw;
    width: 4vw;
    height: 3vw;
    background-size: contain;
    background-repeat: no-repeat; }
  #mdr-it-odp .slick-prev-arrow, #mdr-it .slick-prev-arrow {
    bottom: 10vw; }
  #mdr-it-odp .slick-next-arrow, #mdr-it .slick-next-arrow {
    bottom: 4vw; }
  #mdr-it-odp .slick-dots, #mdr-it .slick-dots {
    left: initial;
    bottom: 16vw;
    right: 2.8vw; }

  #mdr-odp .job-description h2 {
    font-size: 4vw; }
  #mdr-odp .job-description p {
    font-size: 2.5vw;
    letter-spacing: 0;
    margin: 3vw auto; }
  #mdr-odp .job-description .job-category {
    margin: 12vw auto 4vw;
    font-size: 2vw; }
  #mdr-odp .lists-job-category {
    padding-top: 0;
    margin-bottom: 10vw; }
    #mdr-odp .lists-job-category .content {
      padding: 5vw 5vw;
      border-bottom: 1px solid;
      justify-content: center; }
      #mdr-odp .lists-job-category .content:last-child {
        border: 0; }
      #mdr-odp .lists-job-category .content .image {
        flex-basis: 40%;
        text-align: left;
        height: 20vw; }
        #mdr-odp .lists-job-category .content .image img {
          height: 100%; }
      #mdr-odp .lists-job-category .content .sub-wrapper {
        flex-basis: 60%; }
        #mdr-odp .lists-job-category .content .sub-wrapper .title {
          font-size: 3vw;
          line-height: 1.5; }
        #mdr-odp .lists-job-category .content .sub-wrapper p {
          font-size: 2vw;
          margin-bottom: 3vw; }
        #mdr-odp .lists-job-category .content .sub-wrapper a {
          font-size: 2vw;
          line-height: initial;
          letter-spacing: initial;
          padding: 1vw 3vw; }

  #mdr-it .search-cont {
    margin: 0 10%; }
    #mdr-it .search-cont input {
      font-size: 3vw; }
    #mdr-it .search-cont .mandiri-btn-new {
      font-size: 2vw;
      padding: 0 3vw; }
  #mdr-it .job-card .job-card-wrapper .job-img-wrapper:after {
    content: '';
    bottom: -2vw;
    left: -3vw;
    width: 7vw;
    height: 17vw; }
  #mdr-it .job-card .job-card-wrapper .job-img-wrapper .back-layer {
    left: 1vw;
    bottom: -3vw;
    width: 61vw; }
  #mdr-it .job-card .job-card-wrapper .job-img-wrapper .job-img {
    width: 60vw;
    max-width: initial; }
  #mdr-it .job-card .job-content {
    padding: 3vw;
    transform: initial;
    width: 100%;
    margin-left: -14vw;
    margin-top: -1vw;
    box-shadow: -1.5vw 1.5vw #F2F2F2; }
    #mdr-it .job-card .job-content .title h3 {
      margin-bottom: 3vw; }
    #mdr-it .job-card .job-content .mandiri-btn {
      padding: 1vw 3vw;
      line-height: 1; }
    #mdr-it .job-card .job-content * {
      font-size: 2vw; } }

/*# sourceMappingURL=custom.css.map */
