@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}

@font-face {
    font-family: gothamBold;
    src: url('../fonts/Gotham-Bold.ttf');
}

@font-face {
    font-family: gothamBook;
    src: url('../fonts/Gotham-Book.ttf');
}

@font-face {
    font-family: gothamLight;
    src: url('../fonts/Gotham-Light.ttf');
}

@font-face {
    font-family: gothamMed;
    src: url('../fonts/Gotham-Medium.ttf');
}

