@media screen and (max-width:767px) {

    // MANDIRI EH
    #mdr-eh {
        .job-description {
            h2 {
                font-size: 4vw;
            }
    
            p {
                font-size: 2.5vw;
                letter-spacing: 0;
                margin: 3vw auto 12vw;
            }
    
            .job-category {
                margin: 4vw auto;
                font-size: 2vw;
            }
        }
    
        .lists-job-category {
            padding-top: 0;
            margin-bottom: 10vw;
            .content {
                padding: 5vw 0;
                border-bottom: 1px solid;
                justify-content: center;
    
                &:last-child {
                    border: 0;
                }
    
                .image {
                    flex-basis: 40%;
                    text-align: center;
                    height: 20vw;
                    img {
                        height: 100%;
                    }
                }
                .sub-wrapper {
                    flex-basis: 50%;
                    .title {
                        font-size: 3vw;
                    }
                    a {
                        font-size: 2vw;
                        line-height: initial;
                        letter-spacing: initial;
                        padding: 1vw 3vw;
                    }
                }
            }
        }
    }

    // MANDIRI IT DEV
    #mdr-it-dev {
        .bg-header {
            margin-bottom: 10vw;
        }

        form.search input {
            width: 100% !important;
            margin: 0;
            padding: 0;
        }

        .search-cont {
            margin: 0 10%;
            input {
                font-size: 3vw;
            }
            .mandiri-btn-new {
                font-size: 2vw;
                padding: 0 3vw;
            }
        }

        .job-head {
            .job-head-title {
                font-size: 3vw;
                line-height: initial;
            }
        }

        .job-lists {
            .row {
                align-items: center;
            }
            .list {
                // margin: 3vw -15px;
                margin-top: 3vw;
                margin-bottom: 3vw;
            }
            .title {
                font-size: 3vw;
                line-height: initial;
            }

            .mandiri-btn {
                font-size: 3vw;
                padding: 1vw 4vw;
                width: 100%;
            }
        }
    }

    // MANDIRI IT ODP
    #mdr-it-odp, #mdr-it {
        .profile-section {
            position: relative;
            z-index: 8;
            transform: initial;
            width: 80%;
            margin: -12vw auto 0;
            .desc {
                background-color: #F8C44E;
                padding: 5vw;
                text-align: center;

                h3 {
                    color: #fff;
                    font-size: 3vw;
                }

                p {
                    font-size: 2vw;
                }
            }

            .vid-cont {
                width: 80%;
                margin: auto;
                position: relative;
                text-align: center;
                margin-top: -7vw;

                .play-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10vw;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }

        .sliders-section {
            margin: 8vw auto;
            .content {
                display: flex;
                align-items: flex-start;
                background-color: #043463;
                padding: 5vw;

                h3 {
                    text-align: left;
                    margin: 0;

                    &:after {
                        content: "";
                        width: 9vw;
                        height: 1vw;
                        margin-top: 1vw;
                        background: #FDBB21;
                        display: block;
                    }
                }

                .block-icon {
                    margin: 0 3vw;
                    text-align: center;
                    img {
                        width: 100%;
                        margin: auto;
                    }
                }

                .text {
                    text-align: left;
                    padding-right: 11vw;

                    h4 {
                        color: #FDBB21;
                        text-transform: uppercase;
                    }
                }

                * {
                    color: #fff;
                    font-size: 2vw;
                }
            }
        }

        .jobs-section {
            h3 {
                font-size: 3vw;
                margin-bottom: 3vw;

                &:after {
                    width: 11vw;
                    height: 1vw;
                    bottom: 0vw;
                }
            }

            .job-quote {
                font-size: 3vw;
                line-height: 1;
            }

            .mandiri-btn {
                font-size: 3vw;
                padding: 1vw 5vw;
            }
        }

        // SLICK
        .slick-slide {
            padding: 0;
        }

        .slick-prev-arrow, .slick-next-arrow {
            left: initial;
            right: 4vw;
            width: 4vw;
            height: 3vw;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .slick-prev-arrow {
            bottom: 10vw;
        }

        .slick-next-arrow {
            bottom: 4vw;
        }

        .slick-dots {
            left: initial;
            bottom: 16vw;
            right: 2.8vw;
        }
    }

    // MANDIRI ODP
    #mdr-odp {
        .job-description {
            h2 {
                font-size: 4vw;
            }
    
            p {
                font-size: 2.5vw;
                letter-spacing: 0;
                margin: 3vw auto;
            }
    
            .job-category {
                margin: 12vw auto 4vw;
                font-size: 2vw;
            }
        }

        .lists-job-category {
            padding-top: 0;
            margin-bottom: 10vw;
            .content {
                padding: 5vw 5vw;
                border-bottom: 1px solid;
                justify-content: center;
    
                &:last-child {
                    border: 0;
                }
    
                .image {
                    flex-basis: 40%;
                    text-align: left;
                    height: 20vw;
                    img {
                        height: 100%;
                    }
                }
                .sub-wrapper {
                    flex-basis: 60%;
                    .title {
                        font-size: 3vw;
                        line-height: 1.5;
                    }
                    p {
                        font-size: 2vw;
                        margin-bottom: 3vw;
                    }
                    a {
                        font-size: 2vw;
                        line-height: initial;
                        letter-spacing: initial;
                        padding: 1vw 3vw;
                    }
                }
            }
        }
    }

    #mdr-it {
        .search-cont {
            margin: 0 10%;
            input {
                font-size: 3vw;
            }
            .mandiri-btn-new {
                font-size: 2vw;
                padding: 0 3vw;
            }
        }

        .job-card {
            .job-card-wrapper {
                .job-img-wrapper {
                    &:after {
                        content: '';
                        bottom: -2vw;
                        left: -3vw;
                        width: 7vw;
                        height: 17vw;
                    }
                    .back-layer {
                        left: 1vw;
                        bottom: -3vw;
                        width: 61vw;
                    }
                    .job-img {
                        width: 60vw;
                        max-width: initial;
                    }
                }
            }

            .job-content {
                padding: 3vw;
                transform: initial;
                width: 100%;
                margin-left: -14vw;
                margin-top: -1vw;
                box-shadow: -1.5vw 1.5vw #F2F2F2;
                .title {
                    h3 {
                        margin-bottom: 3vw;
                    }
                }
                .mandiri-btn {
                    padding: 1vw 3vw;
                    line-height: 1;
                }
                * {
                    font-size: 2vw;
                }
            }
        }
    }

}
