@import 'fonts';


.desktop {
    display: block;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.mobile {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}

body {
    font-family: gothamBook;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
.web-content {
    padding-top: 160px;
    
    h2 {
        text-align: center;
        display: block;
        float: none;
    }

}

.bg-header {
    margin-top : 80px;
    form.search {
        margin: 0;
        transform: translateY(-50%);
    }
    form.search-cont {
        // margin: 0;
        transform: translateY(-50%);
    }
}

.job-description {
    p {
        margin: 40px 0;
        text-align: center;
        letter-spacing: -1.2px;
        color: #020202;
    }
}

.job-category {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.51px;
    text-align: center;
    margin: 86px 0 0 0;
    span {
        color: #0F3D6A;
    }
}

.lists-job-category {
    padding-top: 50px;
    .list {
        border-bottom: 0.5px solid #103560;
        box-sizing: border-box;
        // opacity: 0.5;
        padding-bottom: 72px;
        margin-bottom: 67px;
        &:last-child {
            margin-bottom: 400px;
        }
    }

    .title {
        font-size: 20px;
        font-family: gothamMed;
        color: #002C5D;
        line-height: 22px;
        letter-spacing: -0.8px;
    }
    .hd_lists_wrapper {
        display: inline-block;
        width: 278px;
        text-align: center;
        margin: 100px 0;
        box-sizing: border-box;
        position: relative;
        .title {
            margin: 30px 0;
        }
        .mandiri-btn {
            padding: 6px 44px;
        }
    }
}

.btn {
    &.mandiri-btn {
        letter-spacing: -0.64px;
        line-height: 22px;
        padding: 6px 30px;
        background-color: #002C5D;
        font-size: 18px;
        color: #fff;
        font-family: gothamBook;
    }
    &.large {
        padding: 17px 30px;
    }
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.profile-section {
    transform: translateY(-30%);
    .profile-wrapper {
        width: 1221px;
        margin: 0 auto;
        .profile-desc {
            background-color: #F8C44E;
            width: 932px;
            padding: 63px 0 63px 51.5px;
            position: relative;
            .content {
                width: 455px;
                max-width: 455px;
                .title {
                    font-family: gothamMed;
                    font-size: 26px;
                    letter-spacing: -1.04px;
                    line-height: 32px;
                    color: #fff;
                    margin-bottom: 20px;
                }
                p {
                    text-align: justify;
                    line-height: 32px;
                    letter-spacing: -0.72px;
                    font-size: 18px;
                    color: #272727;
                }
            }
        }
    
        .video-wrapper{
            position: relative;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%,-50%);
            .play-btn {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            .video-profile-cont {
                position: relative;
            }
        }
    }
}

.sliders-section {
    .slider-info {
        padding: 70px 102px 0 62px;
        background-color: #043463;
        h3 {
            line-height: 37px;
            letter-spacing: -0.86px;
            font-size: 24px;
            margin-bottom: 24px;
            position: relative;
            font-family: gothamMed;
            color: #fff;
            &::after {
                content: '';
                position: absolute;
                width: 89px;
                height: 7px;
                left:0;
                bottom: -24px;
                background-color: #FDBB21;
            }
        }
        .block-icon {
            margin: 57px 0 40px 0;
        }
        p {
            text-align: justify;
            line-height: 30px;
            letter-spacing: -0.72px;
            color: #FFFFFF;
        }
    }
}

.slick-prev-arrow {
    width: 37px;
    height: 20px;
    background: url(../images/it/arrow-up.png);
    position: absolute;
    bottom: 20vh;
    left: 28vw;
    z-index: 9;
    &:hover {
        cursor: pointer;
    }
}

.slick-next-arrow {
    width: 37px;
    height: 20px;
    background: url(../images/it/arrow-down.png);
    position: absolute;
    bottom: 15vh;
    left: 28vw;
    z-index: 9;
    &:hover {
        cursor: pointer;
    }
}

// ul.slick-dots {
//     position: absolute;
//     li {
//         list-style-type: none;
//         border-radius: 25px;
//     }
// }

.slick-dots {
    bottom: 12vw;
    left: 28.35vw;
    display: inline-flex;
    flex-direction: column;
    width: initial;

    li, li button {
        width: 15px;
        height: 15px;
    }

    li button:before {
        line-height: 15px;
        width: 15px;
        height: 15px;
    }
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: #fff;
}

.jobs-section {
    text-align: center;
    margin-top: -52px;
    h3 {
        font-size: 24px;
        letter-spacing: -0.86px;
        line-height: 37px;
        font-family: gothamMed;
        color: #043463;
        text-align: center; 
        position: relative;
        margin-bottom: 54px;
        &::after {
            content: '';
            position: absolute;
            width: 89px;
            height: 7px;
            left:0;
            right:0;
            margin:0 auto;
            bottom: -24px;
            background-color: #FDBB21;
        }
    }
    .job-quote {
        color: #363636;
        font-size: 18px;
        letter-spacing: -0.72px;
        line-height: 32px;
        text-align: center;
        max-width: 1036px;
        margin: 0 auto;
    }

}

form.search-cont {
    margin: 0 20%;

    input {
        line-height: 2;
        font-size: 1.5vw;
    }

    .mandiri-btn-new {
        background-color: #002C5D;
        border-color: #002C5D;
        padding: 6px 40px;
    }
    // .mandiri-btn {
    //     padding: 23px 58px;
    // }
    // input {
    //     width: 600px !important;
    //     padding: 23px 0 23px 57px;
    //     &::placeholder {
    //         color: #AFAFAF;
    //         letter-spacing: -0.72px;
    //         line-height: 17px;
    //     }
    // }
}

.job-card {
    padding-bottom: 80px;
}

.job-card-wrapper {
    margin-bottom: 50px;
    display: inline-block;
    .job-img-wrapper {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: -20px;
            z-index: -1;
            width: 96.16px;
            height: 314.85px;
            background-color: #F8C44E;
        }

        .back-layer {
            position: absolute;
            left: -40px;
            bottom: -25px;
            z-index: -2;
        }
    }
    .job-content {
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        padding: 43px 60px 33px 50px;
        width: 564.95px;
        transform: translateX(-25%);
        background: #ffff;
        text-align: left;
        position: relative;
        box-shadow: -15px 15px #F2F2F2;
        h3 {
            line-height: 24px;
            font-size: 20px;
            line-height: 24px;
            color: #002C5D;
            font-family: gothamMed;
            text-align: left;
            margin-bottom: 45px;
            span {
                font-family: gothamBold;
            }
            &::after {
                left: 0;
                margin: 0;
            }
        }

        .mandiri-btn {
            padding: 15px 58px;
        }
    }
}

.job-head  {
    .job-head-title {
        line-height: 70px;
        letter-spacing: -0.66px;
        font-size: 22px;
        color: #002B61;
        font-family: gothamMed;
    }
}

.job-lists {
    .list {
        // margin: 20px;
        .title {
            line-height: 90px;
            letter-spacing: -0.72px;
            font-size: 18px;
            color: #3A3A3A;
        }
    }
}

.separator {
    width: 1px;
    height: 287.77px;
    background-color: #103560;
    opacity: 0.5;
    margin: 0 56.5px;
}
										

// ITSTA09 - IT Strategy & Portfolio Planning
// ITSTA08 - TA IT Financial Opex		
// ITSTA07 - TA IT Financial Capex		
// ITSTA06 - Technical Analyst IT Assets Management
// ITSTA05 - Technical Analyst License		
// ITSTA04 - IT Technical Analyst /Functional Analyst PMO

@import 'mobile';