<div class="site-footer">
    <div class="container">
       <div class="copyright pull-left">
          © 2017. PT Bank Mandiri (Persero) Tbk. All Rights Reserved.	      
       </div>
       <div class="motto pull-right">
          Terdepan, Terpercaya. Tumbuh bersama Anda.	      
       </div>
    </div>
 </div>