<div id="header">
    <div class="container">
        <div class="row">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-xs-10">
                <nav class="navbar navbar-default navbar-offcanvas navbar-offcanvas-touch offcanvas-transform js-offcanvas-done" role="navigation"
                    id="js-bootstrap-offcanvas">
                    <ul id="menu">
                        <li data-menuanchor="landing">
                            <a href="#landing" style="text-transform:uppercase;">Home</a>
                        </li>
                        <li data-menuanchor="mandiri-jobs">
                            <a href="#mandiri-jobs" style="text-transform:uppercase;">Mandiri Jobs</a>
                        </li>
                        <li data-menuanchor="mandiri-young">
                            <a href="#mandiri-young" style="text-transform:uppercase;">
                                <span class="abbr">MY LEAD</span>
                                <span class="full">Mandiri Young Leaders</span>
                            </a>
                        </li>
                        <li data-menuanchor="working">
                            <a href="#working" style="text-transform:uppercase;">Working at Mandiri</a>
                        </li>
                        <li data-menuanchor="people">
                            <a href="#people" style="text-transform:uppercase;">Meet Our People</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-2 pull-right logo">
                <img src="./images/logo-mandiri.png" alt="Mandiri Career" height="38">
            </div>
        </div>
    </div>
</div>